<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="debt in bcController.billingCycle.debts">
                <td>
                    <input type="text" ng-model="debt.name" class="form-control" placeholder="Debt name" ng-readonly="bcController.tabDelete">
                </td>
                <td>
                    <input type="number" ng-change="bcController.calculateValues()" ng-model="debt.value" class="form-control" placeholder="Debt value" ng-readonly="bcController.tabDelete">
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-click="bcController.addDebt($index)" ng-class="{disabled: bcController.tabDelete}">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-warning" ng-click="bcController.cloneDebt($index, debt.name, debt.value)">
                        <i class="fa fa-clone"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="bcController.deleteDebt($index)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>                                
            </tr>
        </tbody>
    </table>
</div>